{% load i18n admin_urls %}
{% if has_add_permission %}

<li>
  <a href="{% url 'import_from_google_sheets' %}" class="addlink" id="import-google-sheet-button">Import from Google
    Sheet</a>
</li>
{% endif %}

{% block object-tools-items %}
{% if has_add_permission %}
<li>
  {% url cl.opts|admin_urlname:'add' as add_url %}
  <a href="{% add_preserved_filters add_url is_popup to_field %}" class="addlink">
    {% blocktranslate with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktranslate %}
  </a>
</li>
{% endif %}
{% endblock %}